<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.jaspersoft.studio.dataAdapters">
      <dataAdapter
            ClassFactory="de.appdynamics.ace.report.jasperreports.studio.adapter.ADDataAdapterFactory">
      </dataAdapter>
   </extension>
   <extension
         point="com.jaspersoft.studio.queryDesigner">
      <queryDesigner
            QueryDesignerClass="de.appdynamics.ace.report.jasperreports.studio.adapter.AMQLQueryDesigner"
            language="amql">
      </queryDesigner>
   </extension>

</plugin>
